[Desktop Entry]
Type=Application
Name=Musheen
GenericName=File Manager
Comment=Browse and manage files
Exec=musheen %f
TryExec=musheen
Icon=org.musheen.Musheen
Terminal=false
Categories=System;FileTools;
Keywords=Files;Folders;Browse;
MimeType=inode/directory;
StartupNotify=true
